
<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<title>GadgetHive</title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<h1><a class="navbar-brand">GadgetHive<span>.</span></a> </h1>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">

                        <li><a class="nav-link" href="../adminhome">Home</a></li>
						<li class="nav-item active">
							<a class="nav-link" href="../view_user">Users</a>
						</li>
                        <li><a class="nav-link" href="../view_order">View Orders</a></li>
						<li><a class="nav-link" href="../prod_approval">Product Approval </a></li>
                        <li><a class="nav-link" href="../reorder">Reorder</a></li>
					</ul>


  <!-- Right Side Icons -->
                      <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                        <li class="nav-item">
                          <a class="nav-link" href="../logout" title="Logout">
                            <i class="fa fa-sign-out" style="font-size:24px; color:white;"></i>
                          </a>
                        </li>

                      </ul>
				</div>
			</div>

		</nav>



<!--<body class="bg-light p-5">-->

<div class="container">
<!--    <h2 class="text-center mb-4">Registered Users</h2>-->
<br>
  <br>
    <table class="table table-bordered text-center align-middle shadow">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Username</th>
<!--              <th colspan="2">operations</th>-->
            </tr>
        </thead>
        <tbody>
        {% for reg in data %}
            <tr>
                <td>{{ reg.Name }}</td>
                <td>{{ reg.Email }}</td>
                <td>{{ reg.Phone }}</td>
                <td>{{ reg.Username }}</td>
<!--              <td><a href="{{i.id}}">Accept</a></td>-->
<!--        <td><a href="{{i.id}}">Reject</a></td>-->
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-muted">No User Found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
